<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sdoward.awareness.android">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity
                android:name=".IdentityActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>

        <activity android:name="com.sdoward.awareness.android.GeoFenceActivity"
                  android:label="@string/title_activity_geo_fence">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="com.sdoward.awareness.android.MainActivity"/>
        </activity>

        <receiver android:name=".FenceReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.sdoward.awareness.android.FENCE"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
                android:name="com.google.android.awareness.API_KEY"
                android:value="${awarenessKey}"/>
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${awarenessKey}"/>

    </application>

</manifest>
